html{
    background-color: #DED9D4;
    color: #2E4057;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

hr{
    width: 80%;
}

h1{
    font-size: 45px;
}

p{
    color: #2E4057;
    font-size: 20px;
    line-height: 1.4em;
}

.center{
    text-align: center;
}

body{
    backdrop-filter: blur(3px);
    height: 100vh;
    width: 100%;
    margin: 0;
}

a{
    text-decoration:none;
    color: #DDD;
}

.headernav{
    display: grid;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    grid-template-columns: 91% 10%;
    grid-template-rows: 0fr;
    grid-template-areas: "nav flag";

}

.nav{
    grid-area: nav;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    grid-template-areas: "menup sec minisec";
}

.title{
    display: inline-block;
    grid-area: menup;
    font-size: 21px;
    font-weight: 500;
    color: #2E4057;
    padding-left: 70px;
}

.title:hover{
    color: #AAA;
}

.flag{
    padding-right: 90px;
    align-self: center;
    grid-area: flag;
}

main{
    z-index: 100;
}

.container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto 850px auto;
    grid-template-rows: auto;
    grid-template-areas: " leftspace content . ";
}

.content{
    /* background-color: #333; */
    padding-bottom: 100px;
    padding: 30px;
    grid-area: content;
    /* border: 2px solid #555; */
    border-radius: 15px;
    /* box-shadow: inset 0 0px 10px  #111; */
}

.red{
    color: #FF3366;
}


footer{
    z-index: 100000;
}

.bottomnav{
    z-index: 10000;
    position: sticky;
    position: -webkit-sticky;
    bottom: 60px;
    right: 80px;
    float: right;
    gap: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "detailhelp helpB"
    "detaillink linkedin"
    "detailgit github";
}

.help { 
    grid-area: helpB; 
    justify-self: center;
    align-self: center;

}

.linkedin { 
    grid-area: linkedin; 
    justify-self: center;
    align-self: center;
}

.github { 
    grid-area: github; 
    justify-self: center;
    align-self: center;
    
}

.helptxt { 
    grid-area: detailhelp; 
    justify-self: center;
    align-self: center;
    width: 85px;
    height: 33px;
    /* display: none; */

}

.linkedintxt { 
    grid-area: detaillink; 
    justify-self: center;
    align-self: center;
    width: 85px;
    height: 33px;
    /* display: none; */
}

.githubtxt { 
    grid-area: detailgit; 
    justify-self: center;
    align-self: center;
    width: 85px;
    height: 33px;
    /* display: none; */
}

.icon{
    height: 33px;
    width: 33px;
}