html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #DED9D4;
    background-repeat: repeat-y;
    background-size: 100%;
    overflow: hidden;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

hr{
    width: 80%;
}

h1{
    font-size: 45px;
}

p{
    color: #2E4057;
    font-size: 20px;
    line-height: 1.4em;
}

.center{
    text-align: center;
}

body{
    backdrop-filter: blur(3px);
    height: 100vh;
    width: 100%;
    margin: 0;
}

a{
    text-decoration:none;
    color: #DDD;
}

.headernav{
    display: grid;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    grid-template-columns: 91% 10%;
    grid-template-rows: 0fr;
    grid-template-areas: "nav flag";

}

.nav{
    grid-area: nav;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    grid-template-areas: "menup sec minisec";
}

.title{
    display: inline-block;
    grid-area: menup;
    font-size: 21px;
    font-weight: 500;
    color: #2E4057;
    padding-left: 70px;
}

.title:hover{
    color: #AAA;
}

.flag{
    padding-right: 90px;
    align-self: center;
    grid-area: flag;
}

main{
    z-index: 100;
}

.container{
    display: grid;
    grid-template-columns: auto 950px auto;
    grid-template-rows: 400px 35% auto ;
    gap: 15px;
    width: 100%;
    grid-template-areas:
    ". interdictionlogo ."
    ". message ."
    ". bouton .";
}

.workinprogresslogo{ 
    grid-area: interdictionlogo;
    width: 900px;
    position: relative;
    top: -100px;
    justify-self: center;
}

.message{
    z-index: 100;
    grid-area: message;
    font-size: 27px;
    font-weight: 400;
    color: #2E4057;
    text-align: center;
    align-self: center;
}

.red{
    color: #FF3366;
}

.bouton { 
    grid-area: bouton;     
    justify-self: center;
    align-self: center;

}

footer{
    z-index: 10;
}

/* .footernav{
    position: relative;
    bottom: 0%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 800px;
    gap: 0px 0px;
    grid-template-areas:
      ". . . . . . . . . . . . github linkedin helpB";
      padding-top: 25px ;
} */

.bottomnav{
    position: fixed;
    right: 110px;
    top: 80%;
    width: 60px;
    gap: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "detailhelp helpB"
    "detaillink linkedin"
    "detailgit github";
}

.github { 
    grid-area: github; 
    justify-self: center;
    align-self: center;
    
}

.linkedin { 
    grid-area: linkedin; 
    justify-self: center;
    align-self: center;
}

.help { 
    grid-area: helpB; 
    justify-self: center;
    align-self: center;

}

.githubtxt { 
    grid-area: detailgit; 
    justify-self: center;
    align-self: center;
    width: 85px;
    height: 33px;
    /* display: none; */
}

.linkedintxt { 
    grid-area: detaillink; 
    justify-self: center;
    align-self: center;
    width: 85px;
    height: 33px;
    /* display: none; */
}

.helptxt { 
    grid-area: detailhelp; 
    justify-self: center;
    align-self: center;
    width: 85px;
    height: 33px;
    /* display: none; */

}

.icon{
    height: 33px;
    width: 33px;
}