
html{
    background-color: #DED9D4;
    color: #2E4057;
    overflow: hidden;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

img{
    user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    -webkit-user-drag: none; 
    -webkit-user-select: none; 
    -moz-user-drag: none;
}

/* Title and button behavior inpired by Mark Mead's work : https://codepen.io/markmead/pen/wvwjePG */

@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');

.container{
    /* background-color: #DED9D4; */
    display: grid;
    align-content: center;
    place-content: space-evenly;
    position: relative;
    margin: 0 auto;
    width: 70%;
    height: 60vh;
    font-family: 'Red Hat Display', sans-serif;
    line-height: 10rem;
}

.span{
    font-weight: 550;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    animation: linear fadeinname 1.5s;
    -moz-animation: linear fadeinname 1.5s;
    -webkit-animation: linear fadeinname 1.5s;
    -o-animation: linear fadeinname 1.5s;
}

.nom{
    grid-template-areas: nom ;
    position: relative;
    top: 15%;
    left: -40%;
    align-self: center;
    letter-spacing: 0.1rem;
    font-size: 150px;
    max-width: 35vw;
    color: #2E4057;
    cursor: default;
}

.small{
    font-size: 40px;
    position: relative;
    left : 30px;
    animation: fadeinrole 3s;
    -moz-animation: fadeinnamerole 3s;
    -webkit-animation: fadeinnamerole 3s;
    -o-animation: fadeinnamerole 3s;
}

.nom span, .bouton2, .bouton3{
    background-image: linear-gradient(transparent calc(65% - 5px), #CFC8C2 5px);
    background-size: 0;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.5s ease;
}

.nom:hover span, .bouton2:hover, .bouton3:hover{
background-size: 100%;
}

.boutons{
    display: flex;
    position: relative;
    top: 15vh;
    margin: 0 auto;
    height: 20%;
    width: 70%;
    align-content: center;
    justify-content: space-evenly;
    font-size: 30px;
    text-decoration: none;
}

.bouton1, .bouton2, .bouton3{
    text-decoration: none;
    transition: 0.3s ease;
    color: #2E4057;
    margin-bottom: 139px;
}

.bouton1{
    font-size: 40px;
    animation: fadeinb1 4s;
    -moz-animation: fadeinb1 4s;
    -webkit-animation: fadeinb1 4s;
    -o-animation: fadeinb1 4s;
}

.bouton2{
    font-size: 40px;
    animation: fadeinb2 3.5s;
    -moz-animation: fadeinb2 3.5s;
    -webkit-animation: fadeinb2 3.5s;
    -o-animation: fadeinb2 3.5s;
}

.bouton3{
    font-size: 40px;
    animation: fadeinb3 3s;
    -moz-animation: fadeinb3 3s;
    -webkit-animation: fadeinb3 3s;
    -o-animation: fadeinb3 3s;
}

/* .bouton1:hover, .bouton2:hover, .bouton3:hover{
    text-decoration: none;
    color: #AAA;
} */

.avatar{
    position: relative;
    width: 10%;
    top: 500px;
    left: 50%;
}

.avatartransitionover{
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    top: 5.8vh ;
}

.avatartransitionout{
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    -ms-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
    top: 500px ;
}

.bottomnav{
    z-index: 10000;
    position: sticky;
    position: -webkit-sticky;
    bottom: -60px;
    right: 40px;
    float: right;
    gap: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "detailhelp helpB"
    "detaillink linkedin"
    "detailgit github";
}

.help { 
    grid-area: helpB; 
    justify-self: center;
    align-self: center;

}

.linkedin { 
    grid-area: linkedin; 
    justify-self: center;
    align-self: center;
}

.github { 
    grid-area: github; 
    justify-self: center;
    align-self: center;
    
}

.helptxt { 
    grid-area: detailhelp; 
    justify-self: center;
    align-self: center;
    width: 85px;
    height: 33px;
}

.linkedintxt {
    grid-area: detaillink; 
    justify-self: center;
    align-self: center;
    width: 85px;
    height: 33px;
}

.githubtxt { 
    grid-area: detailgit; 
    justify-self: center;
    align-self: center;
    width: 85px;
    height: 33px;
}

.icon{
    height: 33px;
    width: 33px;
}

@media(max-resolution: 100dpi) and (min-width: 2000px){
    .avatartransitionover{
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        top: 12vh ;
    } 
}

@media(min-resolution: 100dpi){
    .span{
        font-weight: 550;
        text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
        animation: linear fadeinname 1.5s;
        -moz-animation: linear fadeinname 1.5s;
        -webkit-animation: linear fadeinname 1.5s;
        -o-animation: linear fadeinname 1.5s;
    }
    
    .nom{
        grid-template-areas: nom ;
        position: relative;
        top: 15%;
        left: -40%;
        align-self: center;
        letter-spacing: 0.3rem;
        font-size: 100px;
        max-width: 40vw;
        color: #2E4057;
    }
    
    .small{
        font-size: 25px;
        animation: fadeinrole 3s;
        -moz-animation: fadeinnamerole 3s;
        -webkit-animation: fadeinnamerole 3s;
        -o-animation: fadeinnamerole 3s;
    }

    .bouton1, .bouton2, .bouton3{
        text-decoration: none;
        transition: 0.3s ease;
        color: #2E4057;
        margin-bottom: 60px;
    }
    
    .avatartransitionover{
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        top: 10.5vh ;
    }
}

/* FADEINNAME */

@keyframes fadeinname {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadeinname {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadeinname {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadeinname { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* FADEINROLE */

@keyframes fadeinrole {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeinrole {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeinrole {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadeinrole { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* FADEINB1 */

@keyframes fadeinb1 {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeinb1 {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeinb1 {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadeinb1 { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* FADEINB2 */

@keyframes fadeinb2 {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeinb2 {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeinb2 {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadeinb2 { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* FADEINB3 */

@keyframes fadeinb3 {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeinb3 {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeinb3 {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadeinb3 { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* FADEIN */

.smoothtransition{
    animation: fadein 0.3s;
    -moz-animation: fadein 0.3s;
    -webkit-animation: fadein 0.3s;
    -o-animation: fadein 0.3s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}