html{
    background-color: #DED9D4;
    color: #2E4057;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    overflow: hidden;
}

hr{
    width: 80%;
}

h1{
    font-size: 45px;
}

p{
    color: #2E4057;
    font-size: 20px;
    line-height: 1.4em;
}

.center{
    text-align: center;
}

body{
    backdrop-filter: blur(3px);
    height: 100vh;
    width: 100%;
    margin: 0;
}

a{
    text-decoration:none;
    color: #DDD;
}

.headernav{
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;

}

.nav{
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas: " menup " " submenu1 ";
}

.title{
    display: inline-block;
    grid-area: menup;
    width: 200px;
    font-size: 21px;
    font-weight: 500;
    color: #2E4057;
    padding-left: 70px;
}

.title:hover{
    color: #AAA;
}

.submenu1{
    grid-area: submenu1;
    font-size: 18px;
    margin-left: 80px;
    line-height: 1.8em;
}

.flag{
    padding-right: 90px;
    align-self: center;
    grid-area: flag;
}

main{
    z-index: 100;
}

.container{
    display: grid;
    height: 90%;
    grid-template-columns: auto 40px 900px 40px auto;
    grid-template-rows: 120px 40% 3% 20% 15% auto 80px;
    gap: 0px 0px;
    grid-template-areas:
        "timeline timeline timeline timeline timeline"
        ". . ProjectImage . ."
        ". . . . ."
        ". leftarrow projectname rightarrow ."
        ". . projectlanguages . ."
        ". . Buttons . ."
        ". . . . .";
}

.timeline { 
    grid-area: timeline; 
}

.timelineindicator{
    display: flex;
    position: relative;
    left: 100px;
    font-size: 17px;
    flex-direction: column;
    width: 120px;
}

.date{
    align-self: center;
    justify-self: center;
    font-weight: bold;
}

.pointer{
    position: relative;
    top: 5px;
    width: 23px;
    height: 17px;
    align-self: center;
}

.line{
    width: 100%;
}

.ProjectImage { 
    grid-area: ProjectImage; 
    width: 650px;
    justify-self: center;
}

.leftarrow { 
    grid-area: leftarrow;
    align-self: center; 
}

.rightarrow { 
    grid-area: rightarrow; 
    align-self: center; 
}

.projectname { 
    grid-area: projectname;
    align-self: center;
    font-size: 45px;
    text-align: center;
    line-height: 3em;
}

.projectlanguages { 
    grid-area: projectlanguages; 
    justify-self: center;
}

.Buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "leftbutton rightbutton";
  grid-area: Buttons;
}

.leftbutton { 
    grid-area: leftbutton; 
    justify-self: center;
}

.rightbutton { 
    grid-area: rightbutton; 
    justify-self: center;
}

.red{
    color: #FF3366;
}


footer{
    z-index: 100000;
}

.bottomnav{
    z-index: 10000;
    position: sticky;
    position: -webkit-sticky;
    bottom: 60px;
    right: 40px;
    float: right;
    gap: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "detailhelp helpB"
    "detaillink linkedin"
    "detailgit github";
}

.help { 
    grid-area: helpB; 
    justify-self: center;
    align-self: center;

}

.linkedin { 
    grid-area: linkedin; 
    justify-self: center;
    align-self: center;
}

.github { 
    grid-area: github; 
    justify-self: center;
    align-self: center;
    
}

.helptxt { 
    grid-area: detailhelp; 
    justify-self: center;
    align-self: center;
    width: 85px;
    height: 33px;
    /* display: none; */

}

.linkedintxt { 
    grid-area: detaillink; 
    justify-self: center;
    align-self: center;
    width: 85px;
    height: 33px;
    /* display: none; */
}

.githubtxt { 
    grid-area: detailgit; 
    justify-self: center;
    align-self: center;
    width: 85px;
    height: 33px;
    /* display: none; */
}

.icon{
    height: 33px;
    width: 33px;
}